* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(228, 159, 84); /* Bege claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #d9c9b6; /* Bege escuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 10px;
    color: #5a3e30; /* Marrom */
}

textarea {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    border: 1px solid #5a3e30; /* Marrom */
    border-radius: 5px;
    padding: 5px;
}

select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #5a3e30; /* Marrom */
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #5a3e30; /* Marrom */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #8b6a55; /* Marrom mais claro */
}

.result {
    margin-top: 20px;
    font-size: 16px;
    color: #5a3e30; /* Marrom */
}